---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<style type="text/css">
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #CACFD2; /* old IE */
    background-color: #CACFD2; /* Modern Browsers */
}
</style>





<font face="helvetica" color="#A93226" size="4">
<p>Harvard University</p></font>

<font face="helvetica" size="3"> 

<p><a href="http://daslab.seas.harvard.edu/classes/cs165/" target="_blank">CS165</a>: <font color="black"> Data Systems</font>
	<br><i>Teaching fellow for undergraduate, masters, and doctoral students</i> <br>Fall, 2019
</p>

<p><a href="http://daslab.seas.harvard.edu/classes/cs265/" target="_blank">CS265</a>: <font color="black"> Big Data Systems</font>
	<br><i>Teaching fellow for undergraduate, masters, and doctoral students</i> <br>Spring, 2019, 2020
</p>
<hr> 
</font>

<font face="helvetica" color="#A93226" size="4">
<p>Indian Institute of Technology Kharagpur</p></font>

<font face="helvetica" size="3"> 

<p><a href="http://cse.iitkgp.ac.in/~smisra/course/wasn.html" target="_blank">IT60119</a>: <font color="black"> Wireless Adhoc Sensor Networks</font>
	<br><i>Laboratory assistantship to masters and doctoral students</i> <br>Fall, 2015
</p>
<p><a href="http://cse.iitkgp.ac.in/~smisra/iwt/docs/Course%20outline.pdf" target="_blank">IT60102</a>: <font color="black">Internet and Web Technologies </font>
	<br><i>Teaching assistantship to masters and doctoral students</i> <br>Spring, 2015
</p>

<p><a href="http://cse.iitkgp.ac.in/~smisra/iwt/docs/Course%20outline.pdf" target="_blank">IT60192</a>: <font color="black">Internet and Web Technologies </font>
	<br><i>Laboratory assistantship to masters and doctoral students</i> <br>Spring, 2015
</p>
<p><a href="http://cse.iitkgp.ac.in/~smisra/course/wasn.html" target="_blank">IT60119</a>: <font color="black"> Wireless Adhoc Sensor Networks</font>
	<br><i>Teaching assistantship to masters and doctoral students</i> <br>Fall, 2014
</p>


</font>



<hr>